.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 0px;
}

.example-chip-list {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 95%;

    .fields {
        display: block;
    }

    input {
        width: 90%;
    }
}