<mat-drawer-container style="background-color: rgb(214, 214, 214);">
    <mat-drawer mode="side" opened>
        <div class="side-nav-content">

            <mat-card class="profile">
                <img src="../../../assets/images/OIP.jpeg" class="profile-image" alt="profile-image">
                <div class="profile-content">
                    <p>Jean José</p>
                    <p>jean@gmail.com</p>
                </div>
            </mat-card>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container">
            <app-workspace></app-workspace>
        </div>
    </mat-drawer-content>
</mat-drawer-container>