<p>
    <mat-toolbar>
        <span>Pesquisar</span>
        <div>
            <mat-form-field class='input-search' appearance="outline">
                <mat-label>O que queres encontrar?</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <button mat-fab color="primary" (click)="newContribution()" aria-label="button to open dialog to create contribuition">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</p>